@tailwind components;

@layer components {
    .price-change {
        @apply flex flex-col items-center bg-white rounded-lg border border-gray-200 shadow-md p-7 justify-between gap-6;
    }

    .price-change__input {
        @apply block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    .price-change__button {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2;
    }
}