@tailwind components;


@layer components {
    .display-location__img {
        @apply w-screen max-h-60 object-cover;
    }

    .display-location__body {
        @apply flex justify-between m-10 h-60 flex-col items-center gap-10
        md:flex-row md:my-0 md:items-start md:gap-0 md:mt-9;
    }

    .display-location__loader {
        @apply w-screen h-80 flex justify-center items-center;
    }
}

