@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-8 text-4xl font-bold tracking-tight text-gray-800 pt-2;
  }
  h2 {
    @apply mb-6 text-3xl font-bold tracking-tight text-gray-800;
  }
  h3 {
    @apply mb-6 text-2xl font-bold tracking-tight text-gray-800;
  }
  h4 {
    @apply mb-2 text-xl font-bold tracking-tight text-gray-800 pt-2;
  }
  p {
    @apply mb-3 font-normal text-gray-700;
  }
  span{
    @apply mb-2 text-2xl font-bold tracking-tight text-gray-900;
  }
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
