@tailwind components;

@layer components {
  .header {
    @apply w-full bg-white border border-solid border-gray-200;
  }

  .header__container {
    @apply flex justify-between items-center w-[90%] h-[120px] mx-auto my-0 sticky top-0 z-[100];
  }

  .header__logo {
    @apply object-contain w-[170px];
  }

  .header__center {
    @apply flex flex-1 items-center max-w-fit p-[10px] h-[50px] border border-solid border-gray-200
    rounded-full shadow-md;
  }

  .header__center > input {
    @apply border-none bg-transparent outline-none p-[10px] w-[250px] text-sm shadow-none;
  }
  .header__center > input:focus{
    @apply outline-none border-none shadow-none;
  }

  .header__center > .search-button {
    @apply bg-[#04ddbf] border-none rounded-full p-[8px] text-white
    cursor-pointer flex items-center justify-center text-xl;
  }
  .header__right {
    @apply flex items-center justify-end gap-10 w-[15vw];
  }
  .header__right > svg {
    @apply text-[20px];
  }
}

.header__center > input:focus {
  outline: none;
  box-shadow: none !important;
}
