@tailwind components;

@layer components {
    .card {
        @apply flex flex-col justify-between max-w-sm bg-white rounded-lg border border-gray-200 shadow-md mb-3;
    }
    .card__img {
        @apply rounded-t-lg cursor-pointer w-full h-full object-cover max-h-56;
    }

    .card__title {
      @apply hover:underline underline-offset-1 cursor-pointer;
    }
}

