@tailwind components;

@layer components {
  .search {
    @apply w-[90%] my-[50px] mx-auto;
  }

  .search__room-text {
    @apply mt-4 mb-2;
  }

  .search__properties {
    @apply flex flex-wrap gap-5 my-5;
  }

  .search__loader {
    @apply w-screen h-80 flex justify-center items-center;
  }
}

